@using Undersoft.SDK.Service
@using Undersoft.SDK.Service.Data.Event

@inject IServicer _servicer

@typeparam TModel where TModel : class, IOrigin, IInnerProxy, IAuthorization
@typeparam TValidator where TValidator : class, IValidator<IViewData<TModel>>

<div role="button" @onclick="@OpenAccountPanelAsync">
    <GenericPersona TModel="TModel" ForFirstName="@ForFirstName" ForLastName="@ForLastName" ForImage="@ForImage" ForImageData="@ForImageData" ImageSize="35px" />
</div>

@code {

    private IViewPanel<TModel> _panel = default!;

    private Func<TModel, string> ForFirstName => f => f.Credentials.FirstName;
    private Func<TModel, string> ForLastName => f => f.Credentials.LastName;
    private Func<TModel, string> ForImage => f => f.Credentials.Image;
    private Func<TModel, byte[]> ForImageData => f => f.Credentials.ImageData;

    protected override void OnInitialized()
    {
        _panel = _servicer.Initialize<ViewPanel<GenericAccountPanel<TModel, TValidator>, TModel>>();
    }

    private async Task OpenAccountPanelAsync(MouseEventArgs args)
    {
        await _panel.Show(new ViewData<TModel>(), (p) =>
           {
               p.Alignment = HorizontalAlignment.Right;
               p.Title = $"Account";
               p.PrimaryAction = "Save";               
               p.SecondaryAction = "Cancel";
               p.ShowDismiss = true;
           });

        HandlePanel(_panel.Content);
    }

    private void HandlePanel(IViewData<TModel>? result)
    {

    }
}