@using Microsoft.AspNetCore.Authorization
@using Undersoft.SDK.Proxies

@page "/landing/overview"

<FluentGrid Spacing="1">
    <FluentGridItem xs="12" md="4">
                <FluentIcon Value="@(new ViewGraphic.Logo.ColorSquare260x230())" Color="Color.FillInverse" Width="260px"></FluentIcon>
    </FluentGridItem>
    <FluentGridItem xs="12" md="8">
        <FluentStack Orientation="Orientation.Vertical">
            <FluentIcon Value="@(new ViewGraphic.Title.Servitizone())" Color="Color.FillInverse" Width="415px"></FluentIcon>
            <FluentLabel Typo="Typography.PaneHeader">
                Create highly advanced and complex shared service center digital ecosystems with operational service servers. Providing synchronization of corelated parallel 
                with concurrent bussines procesess and features for various generic designs and implementations of single code based hybrid applications 
            </FluentLabel>
            <FluentLabel Typo="Typography.PaneHeader">
                - Project realization applied after specially for it researched and developed software development kit   
            </FluentLabel>
            <FluentLabel Typo="Typography.PaneHeader">
                - Generic design and implemantation
            </FluentLabel>
            <FluentLabel Typo="Typography.PaneHeader">
                - Instant new type features generation
            </FluentLabel>
            <FluentLabel Typo="Typography.PaneHeader">
                - Adaptive assemblies integration
            </FluentLabel>
        </FluentStack>
    </FluentGridItem>
    <FluentGridItem xs="12" md="4"  >
        <FluentStack Orientation="Orientation.Vertical">
            <a href="/landing/benchmarks" role="button">
                <FluentIcon Value="@(new ViewGraphic.Topic.Benchmarks())" Color="Color.FillInverse" Width="240px"></FluentIcon>
            </a>
            <FluentLabel Typo="Typography.Subject">
                - Performance
            </FluentLabel>
            <FluentLabel Typo="Typography.Subject">
                - Efficiency
            </FluentLabel>
            <FluentLabel Typo="Typography.Subject">
                - Scalability
            </FluentLabel>
        </FluentStack>
    </FluentGridItem>
    <FluentGridItem xs="12" md="4">
        <FluentStack Orientation="Orientation.Vertical">
            <a href="/landing/downloads" role="button">
                <FluentIcon Value="@(new ViewGraphic.Topic.Downloads())" Color="Color.FillInverse" Width="240px"></FluentIcon>
            </a>
            <FluentLabel Typo="Typography.Subject">
                - Windows
            </FluentLabel>
            <FluentLabel Typo="Typography.Subject">
                - Android
            </FluentLabel>
            <FluentLabel Typo="Typography.Subject">
                - iOS
            </FluentLabel>
            <FluentLabel Typo="Typography.Subject">
                - Mac OS/X
            </FluentLabel>
        </FluentStack>
    </FluentGridItem>
    <FluentGridItem xs="12" md="4">
        <FluentStack Orientation="Orientation.Vertical">
            <a href="/landing/documentation" role="button">
                <FluentIcon Value="@(new ViewGraphic.Topic.Documentation())" Color="Color.FillInverse" Width="240px"></FluentIcon>
            </a>
            <FluentLabel Typo="Typography.Subject">
                - Architecture
            </FluentLabel>
            <FluentLabel Typo="Typography.Subject">
                - Reference
            </FluentLabel>
            <FluentLabel Typo="Typography.Subject">
                - API
            </FluentLabel>
        </FluentStack>
    </FluentGridItem>
</FluentGrid>