@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK.Invoking
@using Undersoft.SDK.Proxies

@inherits ViewItem<TModel>

@typeparam TModel where TModel : class, IOrigin, IInnerProxy

<div class="generic top-menu">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Right" HorizontalGap="5">
        @foreach (var rubric in Data.Rubrics)
        {
            <div id="@($"{Model.CodeNo}{@rubric.CodeNo}")" role="button">
                @if (IsSingle && !ShowLabels)
                {
                    <FluentIcon Value="@(new Icons.Regular.Size20.LineHorizontal4())" Color="Color.Fill" Title="Categories" />
                }
                else
                {
                    <FluentLabel Typo="Typography.Body" Weight="FontWeight.Bold" Color="Color.Lightweight">
                        @rubric.DisplayName
                    </FluentLabel>
                }
            </div>
            <div>
                <GenericMenu Position="HorizontalPosition.Right" Rubric="@rubric" AnchorId="@($"{Model.CodeNo}{@rubric.CodeNo}")" Data="@(Data[rubric.RubricId])" Anchored="true" Style="@("margin-top:14px;")" />
            </div>
        }
    </FluentStack>
</div>

@code
{
    public bool IsSingle => Data.Rubrics.Count < 2;

    [Parameter]
    public bool ShowLabels { get; set; } = false;

    [Parameter]
    public bool ShowIcon { get; set; } = true;

    protected override void OnParametersSet()
    {
        if (Data == null)
            Data = new ViewData<TModel>(typeof(TModel).New<TModel>());

        Data.MapRubrics();
        Data.Rubrics.ForEach(r =>
            {
                Model.Proxy[r.RubricId] = r.RubricType.New();
                if (r.DisplayName == null)
                    r.DisplayName = r.RubricName;
            });
        Data.Put(Data.Rubrics.ForEach(r => typeof(ViewData<>).MakeGenericType(r.RubricType).New<IViewData>(Model.Proxy[r.RubricId])));

        base.OnParametersSet();
    }
}


