@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Proxies
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK

@inherits ViewItem
@implements IIdentifiable
@implements IViewItem

<div>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
        <div>
            @if (Rubric.Visible)
            {
                @if (!Rubric.Expandable)
                {

                    @if (_type == typeof(bool))
                    {
                        <FluentMenuItem Id="@ViewId" Label="@_label" Role="MenuItemRole.MenuItemCheckbox" OnClick="@((e) => OnClick())" />
                    }
                    else
                    {
                        <FluentMenuItem Id="@ViewId" Label="@_label" OnClick="@((e) => OnClick())" />
                    }
                }
                else
                {
                    <FluentMenuItem Id="@ViewId" Label="@_label" OnClick="@((e) => OnClick())">
                        <MenuItems>
                            @foreach (var rubric in ExpandData.Rubrics)
                            {
                                <div>
                                    <GenericMenuItem Rubric="@rubric" Data="ExpandData" Parent="@this" />
                                </div>
                            }
                        </MenuItems>
                    </FluentMenuItem>
                }
            }
        </div>
    </FluentStack>
</div>


