@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Instant.Proxies
@using Undersoft.SDK.Instant.Rubrics
@using Undersoft.SDK

@inherits ViewBase
@implements IIdentifiable
@implements IViewItem

<div>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
        @if (Rubric.Visible)
        {
            @if (!Rubric.Expandable)
            {

                @if (_type == typeof(bool))
                {
                    <FluentMenuItem Role="MenuItemRole.MenuItemCheckbox" Label="@_label" OnClick="@((e) => Rubric.Invoker.InvokeAsync(Value))" />
                }
                else
                {
                    <FluentMenuItem Label="@_label" OnClick="@((e) => Rubric.Invoker.InvokeAsync(Value))" />
                }
            }
            else
            {
                <FluentMenuItem Label="@_label" OnClick="@((e) => Rubric.Invoker.InvokeAsync(Value))">
                    <MenuItems>
                        @foreach(var rubric in ChildRubrics)
                        {
                            <GenericMenu Parent="@Parent"/>
                        }
                    </MenuItems>
                </FluentMenuItem>
            }
        }
    </FluentStack>
</div>


